<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>
      {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title
      }}{{ end }}
    </title>

    <meta charset="UTF-8" />
    <meta name="language" content="en" />
    <meta
      name="description"
      content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}"
    />
    <meta name="keywords" content="{{ delimit .Keywords " , " }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Twitter -->
    {{ if isset .Site.Params "twitter" }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta
      name="twitter:description"
      content="{{ if .IsHome }}{{ htmlEscape .Site.Params.description }}{{ else }}{{ htmlEscape .Description }}{{ end }}"
    />
    <meta
      name="twitter:site"
      content="{{ .Site.Params.twitterSite | default .Site.Params.twitter }}"
    />
    <meta
      name="twitter:creator"
      content="{{ .Site.Params.twitterCreator | default .Site.Params.twitter }}"
    />
    {{ end }} {{ partial "favicon.html" }}

    <!-- Styles -->
    {{ block "styles" . }} {{ end }}
    <!-- Get "style_opts" variable from "styles" block -->
    {{ $base_styles_opts := .Scratch.Get "style_opts" | default (dict "src"
    "scss/pages/about.scss" "dest" "css/about.css") }} {{ $custom_styles_opts :=
    (dict "src" "scss/custom.scss" "dest" "css/custom.css") }} {{ $current_page
    := . }} {{ range (slice $base_styles_opts $custom_styles_opts) }} {{ $style
    := resources.Get .src | resources.ExecuteAsTemplate .dest $current_page |
    toCSS | minify | fingerprint }}
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ $style.RelPermalink }}"
      integrity="{{ $style.Data.Integrity }}"
    />
    {{ end }} {{ range .AlternativeOutputFormats }} {{ printf `
    <link rel="%s" type="%s+%s" href="%s" title="%s" />
    ` .Rel .MediaType.Type .MediaType.FirstSuffix.Suffix .Permalink $.Site.Title
    | safeHTML }} {{ end }} {{ block "links" . }} {{ end }} {{ partial
    "seo-schema.html" .}}

    <!-- {{- if not .Site.IsServer -}} -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-10193PESL1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-10193PESL1');
    </script>
  {{- end -}} -->
    <!-- <script>
    var t = setInterval(function() {
        if (window.goatcounter && window.goatcounter.visit_count) {
            clearInterval(t)
            window.goatcounter.visit_count({append: '#visitors'})
        }
    }, 100)
  </script> -->
    <script
      data-goatcounter="https://adityanaik.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
    {{ range .AlternativeOutputFormats -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />
    ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}} {{
    if (.Params.mermaid) }}
    <!-- MermaidJS support -->
    <script
      async
      src="https://unpkg.com/mermaid@8.2.3/dist/mermaid.min.js"
    ></script>
    {{ end }}
    <link
      rel="webmention"
      href="https://webmention.io/adityanaik.dev/webmention"
    />
    <link rel="pingback" href="https://webmention.io/adityanaik.dev/xmlrpc" />

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://serverless-go-blog-post.vercel.app/">

  </head>

  <body>

    {{ partial "burger.html" .}} {{ partial "nav.html" .}}

    <main>{{ block "main" . }} {{ end }}</main>

    {{ block "footer" . }} {{ end }} {{ $script := resources.Get "js/index.js" |
    minify | fingerprint }}
    <script
      src="{{ $script.RelPermalink }}"
      integrity="{{ $script.Data.Integrity | safeHTMLAttr }}"
      crossorigin="anonymous"
    ></script>
    {{ block "scripts" . }} {{ end }}
  </body>
</html>
