@import "../main";
@import "../partials/post-list";
@import "../custom";

.page_layout {
  display: flex;
  justify-content: space-between;
}

.tags__list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 50px;
  flex-shrink: 0;

  @media screen and (max-width: $medium - 1) {
    display: none;
  }
}

.post__header .tags__list {
  display: none;
  padding-left: 0;

  @media screen and (max-width: $medium - 1) {
    display: block;
  }

  .tag__item {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .tag__link {
    font-size: 0.8rem;
  }
}

.tag__link {
  text-decoration: none;
  color: $grey;
  font-size: 0.9rem;

  &::before {
    content: "#";
    font-size: 0.7rem;
    padding-right: 1px;
  }

  &:hover {
    color: $darkGrey;
  }
}

/* page overrides */
.post-list__container {
  display: flex;
  justify-content: space-between;
}

.list-pagination-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-left: 12%;
  font-size: medium;
  text-decoration: none;
}

.page-link {
  font-size: medium;
  text-decoration: none;
  color: $darkGrey;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;

  &:hover {
    color: $primary;
    border-color: $primary;
  }

  &.selected {
    color: $primary;
    border-color: $primary;
    text-decoration: underline;
  }

  &.number {
    border: 1px solid $darkGrey;
  }
}
