{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}
{{ $paginator := .Paginate ( .Site.RegularPages ) }}

{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}

<div class="post-list__container">
  <ul class="post-list">
    {{ range $paginator.Pages }}
    <li class="post">
      <div class="post__header">
        <time class="post__date" datetime="{{ .Date }}"
          >{{ .Date.Format $dateFormat }}
          <a class="index-type" href="/{{.Type}}"> #{{humanize .Type}}</a>
        </time>

          {{ if .Title }}
        <h2 class="post__title">
          <a href="{{.RelPermalink}}">{{ .Title }}</a>
        </h2>
        {{ else }}
        <div class="post__title">
          <a href="{{.RelPermalink}}">{{ .Summary | truncate 120 }}...</a>
        </div>
        {{ end }}
        {{ partial "tags.html" .}}
      </div>
    </li>
    {{ end }}

  </ul>
  {{ partial "browse-by-tag.html" .}}
</div>
  {{ if gt .Paginator.TotalPages 1}}
    {{ partial "list-pagination" . }}
  {{end}}
{{ end }}

{{define "footer"}}
  {{ partial "footer" . }}
{{ end }}
